<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TinyApp</title>
</head>

<body>
  <%- include('partials/_header');%>
  <% console.log('urls', urls)%>
  <% if (user) { %> 
  <% for (var key in urls) { %>
    <div><a href="/u/<%=key%>"><%= key %></a> → <%= urls[key] %> &nbsp
      <form style="display: inline;" method="GET"><a href="/urls/<%=key%>">Edit</a></form> &nbsp
      <form style="display: inline;" method="POST" action="/urls/<%=key%>/delete">
        <button type="submit">
          <span>💩</span>
        </button>
      </form>
    </div>
    <% } %>
    <a href="/urls/new">Shorten Your URL HERE</a>
    <% } %>
</body>
</html>